body {
 font-family: system-ui;
 background: #ff9900;
 color: white;
 text-align: center;

  
}
h1 {
  color: white;
  border-style:solid;
  border-color: black;
  text-shadow: 2px 2px 4px #000000;
}
